[Unit]
Description=Honeypot SCADA Simulator
After=network.target

[Service]
User=nombredeusuario
WorkingDirectory=/home/nombredeusuario/honeypot
ExecStart=/usr/bin/python3 /home/nombredeusuario/honeypot/honeypot.py
Restart=always

[Install]
WantedBy=multi-user.target
