[Unit]
Description=Honeypot SCADA Simulator
After=network.target

[Service]
User=abonilla
WorkingDirectory=/home/abonilla/honeypot
ExecStart=/usr/bin/python3 /home/abonilla/honeypot/honeypot.py
Restart=always

[Install]
WantedBy=multi-user.target
