[Unit]
Description=Honeypot SCADA Simulator
After=network.target

[Service]
User=azureuser
WorkingDirectory=/home/azureuser/honeypot
ExecStart=/usr/bin/python3 /home/azureuser/honeypot/honeypot.py
Restart=always

[Install]
WantedBy=multi-user.target
